/* Titulos */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

.titulo-master{
font-family: 'Orbitron', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 60px;
text-transform: uppercase;
font-feature-settings: 'tnum' on, 'onum' on;
color: #FFFFFF;
margin: 20px;
}
@media (max-width:768px){
    .titulo-master{
        font-family: 'Orbitron', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 60px;
        text-transform: uppercase;
        font-feature-settings: 'tnum' on, 'onum' on;
        color: #FFFFFF;
        margin: 10px 10px 0 10px;
        }
}
@media (max-width:270px){
    .titulo-master{
        font-family: 'Orbitron', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 23px;
        line-height: 60px;
        text-transform: uppercase;
        font-feature-settings: 'tnum' on, 'onum' on;
        color: #FFFFFF;
        margin: 10px 10px 0 10px;
        }
}