@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');
.formulario{
    display: flex;
    flex-direction: column;
    height: 650px;
    padding-left: 50px;
    justify-content: center;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    font-size: 20px;
}
.form input, .asunto{
    width: 60%;
    color: white;
    font-size: 22px;
}
.form .enviar_btn{
    color:black;
    background:#BEE1A3;
    border-radius: 50px;
    height: 64px;
    width: 180px;
    float: right;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: ease-in-out 0.25s;
    font-family: 'Aldrich', sans-serif;
}
.form input, textarea, select{
    background-color: black;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 5px #BEE1A3;
    outline: 0px;
    height: 50px;
    font-family: 'Aldrich', sans-serif;
    font-size: 22px;
    color: white;
    margin-top: 20px;
}
.form input:focus,
.form textarea:focus,
.form select:focus{
    background-color: black;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: solid 5px #B000DD;
    transition: 0.5s;
}
@media (max-width:768px){
    .form input, .asunto{
        width: 80%;
        color: white;
        font-size: 15px;
    }
}