.footer-contain{
    display: flex;
    background: #BEE1A3;
    justify-content: space-between;
    width: 100%;
}
.footer{
    background: #BEE1A3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 250px;
    padding-left: 50px;
    
}
/* .contactanos{
    display: flex;
    align-items: center;
} */
.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 50px;

}
.instagram{
    display: flex;
    align-items: center;
    gap: 5px;
}
.mail{
    display: flex;
    align-items: center;
    gap: 5px;
}
@media (max-width:550px){
    .footer-contain{
        flex-direction: column;
    }
    .redes{
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 50px;
    }
}
@media(max-width:270px){
    .footer{
        padding-left: 5px;
    }
    .redes{
        padding-left: 5px;
    }
}